<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
         "-//Hibernate/Hibernate Configuration DTD 5.3//EN"
          "http://hibernate.sourceforge.net/hibernate-configuration-5.3.dtd">

<hibernate-configuration>
    <session-factory>
        <!-- Hibernate settings -->
        <property name="hbm2ddl.auto">update</property>
        <property name="show_sql">true</property>
        <property name="dialect">org.hibernate.dialect.MySQL8Dialect</property>

        <!-- SkySQL / MariaDB connection -->
        <property name="connection.url">jdbc:mysql://serverless-us-east4.sysp0000.db2.skysql.com:4042/employees?useSSL=true&amp;requireSSL=true&amp;allowPublicKeyRetrieval=true</property>
        <property name="connection.username">dbpgf00728213</property>
        <property name="connection.password">YOUR_DEFAULT_PASSWORD</property>
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>

        <!-- Your mappings -->
        <mapping resource="hibernate.hbm.xml"/>
    </session-factory>
</hibernate-configuration>
